20200615 Node_Red_V1.2_flows.json
[{"id":"3583ea70.cd4a8e","type":"tab","label":"Flow 1 Domoticz to Esp32","disabled":false,"info":""},{"id":"a045d76c.a5ab6","type":"tab","label":"Flow 2 Esp32 to Domoticz","disabled":false,"info":""},{"id":"509976b8.8cf818","type":"mqtt-broker","z":"","name":"","broker":"192.168.2.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"33c0a4ce.ff65c4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#62d3ff","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#62d3ff","edited":true},"page-titlebar-backgroundColor":{"value":"#62d3ff","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#aee8ff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#62d3ff","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"72144614.1aaef","type":"ui_tab","z":"","name":"Test huis","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"dc712ed6.134f7","type":"ui_group","z":"","name":"Display","tab":"72144614.1aaef","order":1,"disp":true,"width":"6","collapse":false},{"id":"7c33c989.dcb598","type":"ui_group","z":"","name":"Control","tab":"72144614.1aaef","order":2,"disp":true,"width":"6","collapse":false},{"id":"123ce62.f8c6f1a","type":"debug","z":"a045d76c.a5ab6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":500,"wires":[]},{"id":"2ae3a363.377cec","type":"mqtt in","z":"a045d76c.a5ab6","name":"","topic":"domoticz/in","qos":"0","datatype":"auto","broker":"509976b8.8cf818","x":100,"y":60,"wires":[[]]},{"id":"3fa147db.f1f0c8","type":"inject","z":"a045d76c.a5ab6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":500,"wires":[["aeef99b.3247668"]]},{"id":"aeef99b.3247668","type":"function","z":"a045d76c.a5ab6","name":"Create JSON","func":"var data={\"temp\":30,\"humidity\":80};\nnode.log(typeof data);\nmsg.payload=JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":500,"wires":[["54a26cd5.ed6434"]]},{"id":"54a26cd5.ed6434","type":"function","z":"a045d76c.a5ab6","name":"parse JSON naar temp","func":"p=JSON.parse(msg.payload);\nnode.log(typeof p);\nmsg.payload=p.temp;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":500,"wires":[["123ce62.f8c6f1a"]]},{"id":"f21bf672.adc27","type":"inject","z":"a045d76c.a5ab6","name":"mini temp + humidity","topic":"domoticz/in","payload":" { \"idx\" : 55, \"nvalue\" : 0, \"svalue\" : \"28.0; 70;1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["31cb078a.c635b"]]},{"id":"74051c53.a36884","type":"debug","z":"a045d76c.a5ab6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":140,"wires":[]},{"id":"38b97a4d.f22efe","type":"function","z":"a045d76c.a5ab6","name":"parse JSON met idx>51","func":"p=JSON.parse(msg.payload);\n//msg.payload=p.idx;\nif (p.idx>51) {\n  return msg;\n}","outputs":1,"noerr":0,"x":450,"y":60,"wires":[[]]},{"id":"d2c9caa4.ce4f4","type":"debug","z":"a045d76c.a5ab6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":60,"wires":[]},{"id":"31cb078a.c635b","type":"function","z":"a045d76c.a5ab6","name":"Stringify JSON","func":"var data=msg.payload;\nnode.log(typeof data);\nmsg.payload=JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["74051c53.a36884"]]},{"id":"473dd146.d83a9","type":"mqtt out","z":"a045d76c.a5ab6","name":"","topic":"domoticz/in","qos":"0","retain":"","broker":"509976b8.8cf818","x":740,"y":200,"wires":[]},{"id":"373314f3.fde634","type":"inject","z":"a045d76c.a5ab6","name":"mini switch 1 off","topic":"domoticz/in","payload":"   { \"idx\" : 54,  \"nvalue\" : 0 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["97d250c5.b48cd8"]]},{"id":"15d22503.be9303","type":"debug","z":"a045d76c.a5ab6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":320,"wires":[]},{"id":"97d250c5.b48cd8","type":"function","z":"a045d76c.a5ab6","name":"Stringify JSON","func":"var data=msg.payload;\nnode.log(typeof data);\nmsg.payload=JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":320,"wires":[["15d22503.be9303"]]},{"id":"14269f9.29181e","type":"mqtt out","z":"a045d76c.a5ab6","name":"","topic":"domoticz/in","qos":"0","retain":"","broker":"509976b8.8cf818","x":730,"y":360,"wires":[]},{"id":"6a75ac9f.6f8294","type":"comment","z":"a045d76c.a5ab6","name":"Display debug selected messages","info":"","x":420,"y":20,"wires":[]},{"id":"8cfe617c.f4401","type":"comment","z":"a045d76c.a5ab6","name":"send off to domoticz switch 1","info":"","x":380,"y":280,"wires":[]},{"id":"b096f6d.4ffec08","type":"comment","z":"a045d76c.a5ab6","name":"send small message to domotics from DHT11 ","info":"","x":330,"y":160,"wires":[]},{"id":"4a4c5874.d59dd","type":"comment","z":"a045d76c.a5ab6","name":"test transform message to JSON","info":"","x":450,"y":460,"wires":[]},{"id":"b1a92368.b7f07","type":"ui_gauge","z":"3583ea70.cd4a8e","name":"","group":"7c33c989.dcb598","order":4,"width":"3","height":"3","gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"23","x":670,"y":260,"wires":[]},{"id":"92dcc3c7.399958","type":"comment","z":"3583ea70.cd4a8e","name":"DHT11","info":"","x":358,"y":210,"wires":[]},{"id":"714c79a6.2ae4f8","type":"ui_switch","z":"3583ea70.cd4a8e","name":"","label":"Temperature message","tooltip":"","group":"dc712ed6.134f7","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":700,"y":360,"wires":[[]]},{"id":"8d82df7a.3b878","type":"ui_gauge","z":"3583ea70.cd4a8e","name":"","group":"7c33c989.dcb598","order":5,"width":"3","height":"3","gtype":"gage","title":"Humidity","label":"Procent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"26","x":660,"y":300,"wires":[]},{"id":"1792f006.955688","type":"inject","z":"a045d76c.a5ab6","name":"mini temp idx 53","topic":"domoticz/in","payload":" { \"idx\" : 53, \"nvalue\" : 0, \"svalue\" : \"28.2;1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":640,"wires":[["a7e8d048.f93d38","c21333c5.b9cd"]]},{"id":"c21333c5.b9cd","type":"debug","z":"a045d76c.a5ab6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":580,"wires":[]},{"id":"a7e8d048.f93d38","type":"function","z":"a045d76c.a5ab6","name":"Stringify JSON","func":"var data=msg.payload;\nnode.log(typeof data);\nmsg.payload=JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":640,"wires":[["c21333c5.b9cd"]]},{"id":"c5943adc.077778","type":"mqtt out","z":"a045d76c.a5ab6","name":"","topic":"domoticz/in","qos":"0","retain":"","broker":"509976b8.8cf818","x":740,"y":640,"wires":[]},{"id":"203fd55.2e5c8aa","type":"comment","z":"a045d76c.a5ab6","name":"send small message to domotics from DS18B20 ","info":"","x":340,"y":600,"wires":[]},{"id":"cfd5830e.0234b8","type":"mqtt in","z":"3583ea70.cd4a8e","name":"","topic":"domoticz/in","qos":"0","datatype":"auto","broker":"509976b8.8cf818","x":100,"y":480,"wires":[["abf8dddf.a417b","cf403481.e917e8","a7db81b1.16eb3"]]},{"id":"55bdb9b6.7874e8","type":"ui_gauge","z":"3583ea70.cd4a8e","name":"","group":"7c33c989.dcb598","order":6,"width":"3","height":"3","gtype":"gage","title":"Temperature-0","label":"Celsius","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"26","x":680,"y":480,"wires":[]},{"id":"3ab94c6f.3f426c","type":"ui_gauge","z":"3583ea70.cd4a8e","name":"","group":"7c33c989.dcb598","order":7,"width":"3","height":"3","gtype":"gage","title":"Temperature-1","label":"Celsius","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"26","x":680,"y":520,"wires":[]},{"id":"a2bfa4ad.71ff6","type":"comment","z":"3583ea70.cd4a8e","name":"DS18B20-0 and -1","info":"","x":370,"y":420,"wires":[]},{"id":"abf8dddf.a417b","type":"function","z":"3583ea70.cd4a8e","name":"process  LED","func":"idxLED=global.get('idxLED') || 0;\np=JSON.parse(msg.payload);\nif (p.idx==idxLED) {\n  msg={payload:1}; \n  return msg;\n}","outputs":1,"noerr":0,"x":350,"y":672,"wires":[["84f98ca7.143308","a1bbeebc.27c628"]]},{"id":"84f98ca7.143308","type":"ui_led","z":"3583ea70.cd4a8e","group":"7c33c989.dcb598","order":3,"width":"0","height":"0","label":"Transmission","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"blue","value":"1","valueType":"num"},{"color":"white","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":596,"y":686,"wires":[]},{"id":"c1986abe.4e5a98","type":"comment","z":"3583ea70.cd4a8e","name":"Led","info":"","x":330,"y":630,"wires":[]},{"id":"b2ae6302.ff0a28","type":"ui_switch","z":"3583ea70.cd4a8e","name":"","label":"Heating","tooltip":"","group":"dc712ed6.134f7","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":928,"y":616,"wires":[["70a00963.ee02"]]},{"id":"7a7992d1.233ecc","type":"ui_switch","z":"3583ea70.cd4a8e","name":"","label":"Airco","tooltip":"","group":"dc712ed6.134f7","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":918,"y":672,"wires":[["bc80771b.b032f8"]]},{"id":"471e133d.e6b184","type":"mqtt out","z":"3583ea70.cd4a8e","name":"","topic":"domoticz/output55","qos":"0","retain":"false","broker":"509976b8.8cf818","x":1406,"y":616,"wires":[]},{"id":"143a10df.8c7797","type":"ui_slider","z":"3583ea70.cd4a8e","name":"","label":"Heat","tooltip":"","group":"dc712ed6.134f7","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"30","step":1,"x":162,"y":1400,"wires":[["e43581e2.cb912","aa8452e2.cefc5"]]},{"id":"e43581e2.cb912","type":"ui_gauge","z":"3583ea70.cd4a8e","name":"","group":"7c33c989.dcb598","order":1,"width":"3","height":"3","gtype":"gage","title":"Heater","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":602,"y":1400,"wires":[]},{"id":"396caf0b.f8d6a8","type":"ui_gauge","z":"3583ea70.cd4a8e","name":"","group":"7c33c989.dcb598","order":2,"width":"3","height":"3","gtype":"gage","title":"Airco","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#0267b3","#e6e600","#ca3838"],"seg1":"21","seg2":"25","x":602,"y":1494,"wires":[]},{"id":"31724503.aa6ae2","type":"ui_slider","z":"3583ea70.cd4a8e","name":"","label":"Cool","tooltip":"","group":"dc712ed6.134f7","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"30","step":1,"x":162,"y":1498,"wires":[["396caf0b.f8d6a8","2985ee86.d7660a"]]},{"id":"aa8452e2.cefc5","type":"function","z":"3583ea70.cd4a8e","name":"set global heat","func":"heat=global.get('heat') || 0;\nif (heat===undefined) {\n  heat=0;\n}\nheat=msg.payload;\nglobal.set('heat',heat);\n","outputs":0,"noerr":0,"x":362,"y":1360,"wires":[]},{"id":"2985ee86.d7660a","type":"function","z":"3583ea70.cd4a8e","name":"set global cool","func":"cool=global.get('cool') || 0;\nif (cool===undefined) {\n  cool=0;\n}\ncool=msg.payload;\nglobal.set('cool',cool);\n","outputs":0,"noerr":0,"x":366,"y":1438,"wires":[]},{"id":"675cbc02.c7e184","type":"mqtt in","z":"3583ea70.cd4a8e","name":"","topic":"domoticz/out","qos":"1","datatype":"auto","broker":"509976b8.8cf818","x":126,"y":1246,"wires":[["c1d8700c.496ab8"]]},{"id":"c1d8700c.496ab8","type":"function","z":"3583ea70.cd4a8e","name":"select  idx >=idxT0 ","func":"var idxT0=global.get('idxT0') ;\np=JSON.parse(msg.payload);\nif (p.idx>=idxT0)\n{\n  var count=context.get('count') ;\n  if (typeof count==\"undefined\")\n    count=0;\n  count +=1;\n  context.set('count',count);\n  msg.payload=\"{\\\"idx\\\":\"+p.idx+\",\\\"nvalue\\\":\"+p.nvalue+\",\\\"nr\\\":\"+count+\"}\";\n  return msg;\n}\n\n","outputs":1,"noerr":0,"x":328,"y":1246,"wires":[["59bcc12c.19d268"]]},{"id":"59bcc12c.19d268","type":"mqtt out","z":"3583ea70.cd4a8e","name":"","topic":"domoticz/output55","qos":"0","retain":"false","broker":"509976b8.8cf818","x":538,"y":1246,"wires":[]},{"id":"cfa19bdb.20218","type":"comment","z":"3583ea70.cd4a8e","name":"limit trafic to Arduino","info":"","x":748,"y":1246,"wires":[]},{"id":"de076211.45a148","type":"comment","z":"3583ea70.cd4a8e","name":"Set limits heat and cool","info":"","x":380,"y":1316,"wires":[]},{"id":"cf403481.e917e8","type":"function","z":"3583ea70.cd4a8e","name":"process T0  or T1, RELAY0, 1","func":"idxT0=global.get('idxT0') || 0;\nidxT1=global.get('idxT1') || 0;\np=JSON.parse(msg.payload);\n\nvar msg1=null;\nvar msg2=null;//temperature 0\nvar msg3=null;//temperature 1\nvar msg4=null;//relay0 heat T0\nvar msg5=null;//relay1 cool\nvar msg6=null;//relay0 heat T1\nvar msg7=null;//relay1 cool\nvar nr2=null;\nvar nr3=null;\nvar data=null;\nvar res=null;\nif (p.idx==idxT0) {\n  idxRELAY0=global.get('idxRELAY0') || 0;\n  idxRELAY1=global.get('idxRELAY1') || 0;\n  heat=global.get('heat') || 0;\n  cool=global.get('cool') || 0;\n  \n  msg1={payload:true}; //eg temp. message received \n  \n  data=p.svalue.split(\";\");\n  res=data[0];\n  nr2=parseFloat(res, 10);\n  msg2={ payload:nr2 };\n  node.log(nr2);\n  \n  if(nr2<heat) {\n    data=\"{\\\"IDX\\\":\"+idxRELAY0+\",\\\"nvalue\\\":1}\";\n    msg4={ payload:data };\n  } else {\n    data=\"{\\\"IDX\\\":\"+idxRELAY0+\",\\\"nvalue\\\":0}\";\n    msg4={payload:data};\n  }\n  if(nr2>cool) {\n    data=\"{\\\"IDX\\\":\"+idxRELAY1+\",\\\"nvalue\\\":1}\";\n    msg5={payload:data};\n  } else {\n    data=\"{\\\"IDX\\\":\"+idxRELAY1+\",\\\"nvalue\\\":0}\";\n    msg5={payload:data};\n  }  \n} else if (p.idx==idxT1) {\n  idxRELAY0=global.get('idxRELAY0') || 0;\n  idxRELAY1=global.get('idxRELAY1') || 0;\n  heat=global.get('heat') || 0;\n  cool=global.get('cool') || 0;\n  \n  msg1={payload:true}; \n  \n  data=p.svalue.split(\";\");\n  res=data[0];\n  nr3=parseFloat(res, 10);\n  msg3={payload:nr3};\n  node.log(nr3);\n  \n  if(nr2<=heat) {\n    data=\"{\\\"IDX\\\":\"+idxRELAY0+\",\\\"nvalue\\\":1}\";\n    msg6={payload:data};\n  } else {\n    data=\"{\\\"IDX\\\":\"+idxRELAY0+\",\\\"nvalue\\\":0}\";\n    msg6={payload:data};\n  }\n  if(nr2>=cool) {\n    data=\"{\\\"IDX\\\":\"+idxRELAY1+\",\\\"nvalue\\\":1}\";\n    msg7={payload:data};\n  } else {\n    data=\"{\\\"IDX\\\":\"+idxRELAY1+\",\\\"nvalue\\\":0}\";\n    msg7={payload:data};\n  }  \n}\nif (msg2!==null || msg3!==null)\n  return [msg1,msg2,msg3,msg4,msg5,msg6,msg7];\n","outputs":7,"noerr":0,"x":382,"y":504,"wires":[["714c79a6.2ae4f8","4aab3b9.fb65ac4"],["55bdb9b6.7874e8"],["3ab94c6f.3f426c"],[],[],[],[]],"outputLabels":["temperature switch","temperature DS18B20-0","temperature DS18B20-1","T0-4 relay0 by DS18B20-0","T0-5 relay1 by DS18B20-0","T1-6 relay0 by DS18B20-1","T1-7 relay1 by DS18B20-1"]},{"id":"a7db81b1.16eb3","type":"function","z":"3583ea70.cd4a8e","name":"process  TH,  RELAY0, 1","func":"//process  TH,  RELAY0, 1\nidxTH=global.get('idxTH') || 0;\np=JSON.parse(msg.payload);\nif (p.idx==idxTH) {\n  idxRELAY0=global.get('idxRELAY0') || 0;\n  idxRELAY1=global.get('idxRELAY1') || 0;\n  var heat=global.get('heat') || 0;\n  var cool=global.get('cool') || 0;\n\n  msg1={ payload:true }; //eg temp message received\n  \n  var data = p.svalue.split(\";\");\n  var n = data[0].indexOf(\".\");\n  var res = data[0].substr(0, n);\n  var nr2temp=parseInt(res, 10);\n  var msg2 = { payload:nr2temp };\n  node.log(nr2temp);\n\n  n = data[1].indexOf(\".\");\n  res = data[1].substr(0, n);\n  var nr3hum=parseInt(res, 10);\n  var msg3 = { payload:nr3hum };\n  \n  var msg4=null;\n  var msg5=null;\n  if(nr2temp<heat) {\n    data=\"{\\\"IDX\\\":\"+idxRELAY0+\",\\\"nvalue\\\":1}\";\n    msg4={ payload:data };\n  } else {\n    data=\"{\\\"IDX\\\":\"+idxRELAY0+\",\\\"nvalue\\\":0}\";\n    msg4 = {payload:data };\n  }\n  if(nr2temp>cool) {\n    data=\"{\\\"IDX\\\":\"+idxRELAY1+\",\\\"nvalue\\\":1}\";\n    msg5 = {payload:data};\n  } else {\n    data=\"{\\\"IDX\\\":\"+idxRELAY1+\",\\\"nvalue\\\":0}\";  \n    msg5 = {payload:data};\n  }  \n  return [msg1,msg2,msg3,msg4,msg5];\n}","outputs":5,"noerr":0,"x":362,"y":280,"wires":[["714c79a6.2ae4f8","4aab3b9.fb65ac4"],["b1a92368.b7f07"],["8d82df7a.3b878"],["61cb6120.b2fe78"],["61cb6120.b2fe78"]],"outputLabels":["temp switch","temp DHT11","hum DHT11","TH-4 relay0","TH-5 relay1"]},{"id":"5a0b03c5.8f776c","type":"comment","z":"3583ea70.cd4a8e","name":"connect TH 4-5||T0 4-5||T1 6-7","info":"Connect the output of mentioned Nodes to Node \"Filter Relay 0,1\" only once if applicable","x":368,"y":364,"wires":[]},{"id":"e14d5fc4.1f557","type":"ui_switch","z":"3583ea70.cd4a8e","name":"","label":"Manual overwrite","tooltip":"","group":"dc712ed6.134f7","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"domoticz/in","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":678,"y":1022,"wires":[["190adaf7.be082d"]]},{"id":"190adaf7.be082d","type":"function","z":"3583ea70.cd4a8e","name":"stop loop MANUAL","func":"var swMANUAL=global.get('swMANUAL') || 0;\nvar idxMANUAL=global.get('idxMANUAL') || 0;\nvar newswMANUAL=0;\nvar p=msg.payload;\nif (p===true)\n{\n    newswMANUAL=1;\n}\nif (newswMANUAL!=swMANUAL){\n  swMANUAL=newswMANUAL;\n  global.set('swMANUAL',swMANUAL);\n  msg.payload=\"{\\\"idx\\\":\"+idxMANUAL+\", \\\"nvalue\\\":\"+swMANUAL+\"}\";\n  node.log(swMANUAL);\n  return msg;\n}","outputs":1,"noerr":0,"x":888,"y":1022,"wires":[["ae1a17b.2dfd1e8"]]},{"id":"ae1a17b.2dfd1e8","type":"mqtt out","z":"3583ea70.cd4a8e","name":"","topic":"domoticz/in","qos":"","retain":"","broker":"509976b8.8cf818","x":1134,"y":1022,"wires":[]},{"id":"61cb6120.b2fe78","type":"function","z":"3583ea70.cd4a8e","name":"Filter RELAY0 or 1","func":"//Filter RELAY0, 1\nidxRELAY0=global.get('idxRELAY0') || 0;\nidxRELAY1=global.get('idxRELAY1') || 0;\np=JSON.parse(msg.payload);\nvar msg1 = null;\nvar msg2 = null;\nif (p.IDX==idxRELAY0) {\n  swRELAY0=global.get('swRELAY0') || 0;\n  swMANUAL=global.get('swMANUAL') || 0;\n  if (swMANUAL===0) {\n    if (swRELAY0!=p.nvalue) {\n      if (p.nvalue==1) {\n           msg1={ payload:true };\n      } else {\n          msg1={ payload:false };\n      }\n      node.log(\"set RELAY0\");\n      return [msg1,msg2];\n    }\n  }\n} else if (p.IDX==idxRELAY1) {\n  swRELAY1=global.get('swRELAY1') || 0;\n  swMANUAL=global.get('swMANUAL') || 0;\n  if (swMANUAL===0) {\n    if (swRELAY1!=p.nvalue) {\n      if (p.nvalue==1) {\n          msg2={ payload:true };\n      } else {\n          msg2={ payload:false };\n      }\n      node.log(\"set RELAY1\");\n      return [msg1,msg2];\n    }\n  }\n}\n","outputs":2,"noerr":0,"x":678,"y":616,"wires":[["b2ae6302.ff0a28"],["7a7992d1.233ecc"]]},{"id":"70a00963.ee02","type":"function","z":"3583ea70.cd4a8e","name":"send RELAY0  set swRELAY0","func":"//send RELAY0  set swRELAY0\nidxRELAY0=global.get('idxRELAY0') || 0;\nswRELAY0=global.get('swRELAY0') || 0;\nvar p=msg.payload;\nvar onoff=0;\nif (p===true)\n    onoff=1;\nswRELAY0=onoff;\nglobal.set('swRELAY0',swRELAY0);\nmsg.payload=\"{\\\"IDX\\\":\"+idxRELAY0+\", \\\"nvalue\\\":\"+onoff+\"}\";\nnode.log(onoff);\nreturn msg;","outputs":1,"noerr":0,"x":1142,"y":616,"wires":[["471e133d.e6b184"]]},{"id":"bc80771b.b032f8","type":"function","z":"3583ea70.cd4a8e","name":"send RELAY1  set swRELAY1","func":"idxRELAY1=global.get('idxRELAY1') || 0;\nswRELAY1=global.get('swRELAY1') || 0;\nvar p=msg.payload;\nvar onoff=0;\nif (p===true)\n    onoff=1;\nswRELAY1=onoff;\nglobal.set('swRELAY1',swRELAY1);\nmsg.payload=\"{\\\"IDX\\\":\"+idxRELAY1+\", \\\"nvalue\\\":\"+onoff+\"}\";\nnode.log(onoff);\nreturn msg;","outputs":1,"noerr":0,"x":1142,"y":672,"wires":[["471e133d.e6b184"]]},{"id":"1295d5a4.af84a2","type":"mqtt in","z":"3583ea70.cd4a8e","name":"","topic":"domoticz/output55","qos":"0","datatype":"auto","broker":"509976b8.8cf818","x":132,"y":1022,"wires":[["ae7cf720.94b5b8","3b2031f4.7d3046"]]},{"id":"ae7cf720.94b5b8","type":"function","z":"3583ea70.cd4a8e","name":"select MANUAL, LIGHT01, 02","func":"idxMANUAL=global.get('idxMANUAL') || 0;\nidxLIGHT01=global.get('idxLIGHT01') || 0;\nidxLIGHT02=global.get('idxLIGHT02') || 0;\np=JSON.parse(msg.payload);\nvar msg1=null;\nvar msg2=null;\nvar msg3=null;\nvar update=0;\nif (p.idx==idxMANUAL) {\n  if (p.nvalue==1){\n      msg1={ payload:true };\n  } else {\n      msg1={ payload:false };\n  }\n  update=1;\n  node.log(\"swMANUAL\");\n}\nif (p.idx==idxLIGHT01) {\n  if (p.nvalue==1){\n      msg2={ payload:true };\n  } else {\n      msg2={ payload:false };\n  }\n  update=1;\n  node.log(\"swLIGHT01\");\n}\nif (p.idx==idxLIGHT02) {\n  if (p.nvalue==1){\n      msg3={ payload:true };\n  } else {\n      msg3={ payload:false };\n  }\n  node.log(\"swLIGHT02\");\n  update=1;\n}\nif (update==1)\n  return[msg1,msg2,msg3];\n","outputs":3,"noerr":0,"x":396,"y":1022,"wires":[["e14d5fc4.1f557"],["cb8c8913.89fbb"],["c3898aff.bd03"]],"outputLabels":["switch 61","switch 59","swiych 60"]},{"id":"a47ca4a9.b2a538","type":"comment","z":"3583ea70.cd4a8e","name":"Version 1.2 15-06-2020","info":"Version 1.0 09-06-2020 + Arduino ESO32_MQTT_DHT11 V2.3\nVersion 1.1 10-06-2020 idx 61, 59 and 60 from output55\nVersion 1.2 15-06-2020 all idx numbers now from global variabels, same all Node names, reset indicators after 2 seconds","x":128,"y":98,"wires":[]},{"id":"5a97c265.04836c","type":"comment","z":"3583ea70.cd4a8e","name":"I:heat, cool","info":"","x":186,"y":224,"wires":[]},{"id":"17f50fdc.6d7ef8","type":"comment","z":"3583ea70.cd4a8e","name":"I:heat, cool","info":"","x":186,"y":434,"wires":[]},{"id":"e184c216.8922a","type":"comment","z":"3583ea70.cd4a8e","name":"I: swMANUAL, swRELAY0, 1","info":"","x":708,"y":574,"wires":[]},{"id":"cc30bf2.2b4c14","type":"comment","z":"3583ea70.cd4a8e","name":"IO: swMANUEL, swLIGHT01, 02","info":"","x":928,"y":980,"wires":[]},{"id":"8d95a176.6a0e68","type":"comment","z":"3583ea70.cd4a8e","name":"IO:heat","info":"","x":162,"y":1358,"wires":[]},{"id":"7e3ef6b0.99e3f8","type":"comment","z":"3583ea70.cd4a8e","name":"IO:cool","info":"","x":162,"y":1456,"wires":[]},{"id":"3b2031f4.7d3046","type":"function","z":"3583ea70.cd4a8e","name":"Set swRELAY0 or 1 ","func":"//Set swRELAY0 or 1 \nidxRELAY0=global.get('idxRELAY0') || 0;\nidxRELAY1=global.get('idxRELAY1') || 0;\np=JSON.parse(msg.payload);\nvar msg1 = null;\nvar msg2 = null;\nif (p.idx==idxRELAY0) {\n  loopRELAY0=global.get('loopRELAY0') || 0;\n  if (loopRELAY0==1){\n    loopRELAY0=0;\n    global.set('loopRELAY0',loopRELAY0);\n  } else {\n    if (p.nvalue==1) {\n      msg1={ payload:true };\n    } else {\n      msg1={ payload:false };\n    }\n    loopRELAY0=1;\n    global.set('loopRELAY0',loopRELAY0);\n    node.log(idxRELAY0);\n    return [msg1,msg2];\n  }\n} else if (p.idx==idxRELAY1) {\n  loopRELAY1=global.get('loopRELAY1') || 0;\n  if (loopRELAY1==1){\n    loopRELAY1=0;\n    global.set('loopRELAY1',loopRELAY1);\n  } else {\n    if (p.nvalue==1) {\n      msg2={ payload:true };\n    } else {\n      msg2={ payload:false };\n    }\n    loopRELAY1=1;\n    global.set('loopRELAY1',loopRELAY1);        \n    node.log(idxRELAY1);\n    return [msg1,msg2];\n  }\n}\n","outputs":2,"noerr":0,"x":356,"y":966,"wires":[["b2ae6302.ff0a28"],["7a7992d1.233ecc"]]},{"id":"4bbb4810.abf6f","type":"comment","z":"3583ea70.cd4a8e","name":"IO: count","info":"","x":298,"y":1204,"wires":[]},{"id":"cb8c8913.89fbb","type":"ui_switch","z":"3583ea70.cd4a8e","name":"","label":"Light switch 59","tooltip":"","group":"dc712ed6.134f7","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":668,"y":1078,"wires":[["1593c7fb.29603"]]},{"id":"1593c7fb.29603","type":"function","z":"3583ea70.cd4a8e","name":"stop loop LIGHT01","func":"var swLIGHT01=global.get('swLIGHT01') || 0;\nvar idxLIGHT01=global.get('idxLIGHT01') || 0;\nvar newswLIGHT01=0;\nvar p=msg.payload;\nif (p===true)\n{\n    newswLIGHT01=1;\n}\nif (newswLIGHT01!=swLIGHT01){\n  swLIGHT01=newswLIGHT01;\n  global.set('swLIGHT01',swLIGHT01);\n  msg.payload=\"{\\\"idx\\\":\"+idxLIGHT01+\", \\\"nvalue\\\":\"+swLIGHT01+\"}\";\n  node.log(swLIGHT01);\n  return msg;\n}","outputs":1,"noerr":0,"x":888,"y":1078,"wires":[["ae1a17b.2dfd1e8"]]},{"id":"b4ada9be.1a44","type":"function","z":"3583ea70.cd4a8e","name":"stop loop LIGHT02","func":"var swLIGHT01=global.get('swLIGHT01') || 0;\nvar idxLIGHT01=global.get('idxLIGHT01') || 0;\nvar newswLIGHT01=0;\nvar p=msg.payload;\nif (p===true)\n{\n    newswLIGHT01=1;\n}\nif (newswLIGHT01!=swLIGHT01){\n  swLIGHT01=newswLIGHT01;\n  global.set('swLIGHT01',swLIGHT01);\n  msg.payload=\"{\\\"idx\\\":\"+idxLIGHT01+\", \\\"nvalue\\\":\"+swLIGHT01+\"}\";\n  node.log(swLIGHT01);\n  return msg;\n}","outputs":1,"noerr":0,"x":888,"y":1134,"wires":[["ae1a17b.2dfd1e8"]]},{"id":"c3898aff.bd03","type":"ui_switch","z":"3583ea70.cd4a8e","name":"","label":"Light switch 60","tooltip":"","group":"dc712ed6.134f7","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":668,"y":1134,"wires":[["b4ada9be.1a44"]]},{"id":"a1bbeebc.27c628","type":"delay","z":"3583ea70.cd4a8e","name":"Reset Led after 2 sec","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":198,"y":742,"wires":[["f6c71fc9.eed4b"]]},{"id":"f6c71fc9.eed4b","type":"function","z":"3583ea70.cd4a8e","name":"Led off","func":"msg={ payload:0 };\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":742,"wires":[["84f98ca7.143308"]]},{"id":"5b2e52db.2bfbf4","type":"function","z":"3583ea70.cd4a8e","name":"setup idx numbers, switches","func":"// Define variables for devices in Domoticz used as idx numbers in messages\n//DHT11, TH=temperature and humidity\nidxTH=global.get('idxTH') || 0;\nif (idxTH===undefined) idxTH=0;\nidxTH=55;\nglobal.set('idxTH',idxTH);\n\n//DS18B20-0, T=temperature\nidxT0=global.get('idxT0') || 0;\nif (idxT0===undefined) idxT0=0;\nidxT0=53;\nglobal.set('idxT0',idxT0);\n\n//DS18B20-1, T=temperature\nidxT1=global.get('idxT1') || 0;\nif (idxT1===undefined) idxT1=0;\nidxT1=58;\nglobal.set('idxT1',idxT1);\n\n//LED\nidxLED=global.get('idxLED') || 0;\nif (idxLED===undefined) idxLED=0;\nidxLED=54;\nglobal.set('idxLED',idxLED);\n\n//RELAY0\nidxRELAY0=global.get('idxRELAY0') || 0;\nif (idxRELAY0===undefined) idxRELAY0=0;\nidxRELAY0=56;\nglobal.set('idxRELAY0',idxRELAY0);\n\n//RELAY1\nidxRELAY1=global.get('idxRELAY1') || 0;\nif (idxRELAY1===undefined) idxRELAY1=0;\nidxRELAY1=57;\nglobal.set('idxRELAY1',idxRELAY1);\n\n//LIGHT01\nidxLIGHT01=global.get('idxLIGHT01') || 0;\nif (idxLIGHT01===undefined) idxLIGHT01=0;\nidxLIGHT01=59;\nglobal.set('idxLIGHT01',idxLIGHT01);\n\n//LIGHT02\nidxLIGHT02=global.get('idxLIGHT02') || 0;\nif (idxLIGHT02===undefined) idxLIGHT02=0;\nidxLIGHT02=60;\nglobal.set('idxLIGHT02',idxLIGHT02);\n\n//Automatic or MANUAL \nidxMANUAL=global.get('idxMANUAL') || 0;\nif (idxMANUAL===undefined) idxMANUAL=0;\nidxMANUAL=61;\nglobal.set('idxMANUAL',idxMANUAL);\n\n//reset status of RELAY0 1\nswRELAY0=global.get('swRELAY0') || 0;\nif (swRELAY0===undefined){\n  swRELAY0=0;\n}\nswRELAY0=0;\nglobal.set('swRELAY0',swRELAY0);\n\nswRELAY1=global.get('swRELAY1') || 0;\nif (swRELAY1===undefined){ \n  swRELAY1=0;\n}\nswRELAY1=0;\nglobal.set('swRELAY1',swRELAY1);\n\n// 0=automatic, 1=manual\nswMANUAL=global.get('swMANUAL') || 0;\nif (swMANUAL===undefined) {\n  swMANUAL=0;\n}\nswMANUAL=0;\nglobal.set('swMANUAL',swMANUAL);\n\n//reset status of light switches\nvar swLIGHT01=global.get('swLIGHT01') || 0;\nif (swLIGHT01===undefined) {\n  swLIGHT01=0;\n}\nswLIGHT01=0;\nglobal.set('swLIGHT01',swLIGHT01);\n\nvar swLIGHT02=global.get('swLIGHT02') || 0;\nif (swLIGHT02===undefined) {\n  swLIGHT02=0;\n}\nswLIGHT02=0;\nglobal.set('swLIGHT02',swLIGHT02);\n\n// reset loop preventers\nloopRELAY0=global.get('loopRELAY0') || 0;\nif (loopRELAY0===null) {\n  loopRELAY0=0;\n}\nloopRELAY0=0;\nglobal.set('loopRELAY0',loopRELAY0);\n  \nloopRELAY1=global.get('loopRELAY1') || 0;\nif (loopRELAY1===null) {\n  loopRELAY1=0;\n}\nloopRELAY1=0;\nglobal.set('loopRELAY1',loopRELAY1);","outputs":0,"noerr":0,"x":414,"y":1582,"wires":[]},{"id":"9802cdd5.6a7f","type":"inject","z":"3583ea70.cd4a8e","name":"","topic":"Initial setup","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":156,"y":1582,"wires":[["5b2e52db.2bfbf4"]]},{"id":"4aab3b9.fb65ac4","type":"delay","z":"3583ea70.cd4a8e","name":"Reset Temperature switch after 2 sec","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":752,"y":420,"wires":[["dc985892.8ac048"]]},{"id":"dc985892.8ac048","type":"function","z":"3583ea70.cd4a8e","name":"switch off","func":"msg={ payload:false };\nreturn msg;","outputs":1,"noerr":0,"x":998,"y":420,"wires":[["714c79a6.2ae4f8"]]},{"id":"5ced8b50.6eb0ec","type":"comment","z":"3583ea70.cd4a8e","name":"IO: loopRELAY0, 1","info":"","x":356,"y":924,"wires":[]},{"id":"fd3eda31.76b9b8","type":"comment","z":"3583ea70.cd4a8e","name":"IO: swRELAY0, 1","info":"","x":1102,"y":574,"wires":[]}]